<div class="container">
  <h1>Welcome to Sinatra!</h1>
  <p>Hello, world!</p>

<% if @tweet_array %>
  <ul>
  <% @tweet_array.each do |tweet| %>
    <li><%= tweet.text  %>, Tweeted at: <%= tweet.tweeted_at %></li>
  <% end %>
  </ul>
<% end %>

</div>
