
<h1>Recent Tweets</h1>
<h3 id="screen_name"><%= @user.screen_name %></h3>

<% if @tweet_array %>
  <ul>
  <% @tweet_array.each do |tweet| %>
    <li><%= tweet.text  %>, Tweeted at: <%= tweet.tweeted_at %></li>
  <% end %>
  </ul>
<% else %>
  <div id="pacman">
    <p>Watch pac-man while you wait for fresh tweets from <%= @user.screen_name %></p>
    <img src="ajax-loader.gif">
  </div>
<% end %>
